body {
  background-color: #f1f2f6;
  font-family: 'Roboto';
  margin: 0;
}

p {
  line-height: 1.5;
  color: #2f2f2f;
  margin: 0;
  font-family: 'Merriweather', serif;
  font-weight: 900;
  font-size: 24px;
}

p.subtitle  {
  font-size: 18px;
}

h1 {
  font-size: 125px;
  text-transform: uppercase;
  color: #fff;
  margin: 0;
  font-family: 'Six Caps', sans-serif;
  letter-spacing: 10px;
  line-height: 1;
  font-weight: 100;
}

h2 {
  font-size: 28px;
  font-weight: 100;
  margin: 20px 0 40px;
  color: #fff;
}

.footer h2 {
  color: #000;
}

.img-rectangular {
  width: 450px;
  height: 630px;
  object-fit: cover;
}

.img-circle {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.main-btn {
  background-color: #000;
  padding: 15px 40px;
  color: #fff;
  font-size: 20px;
  font-weight: 900;
  border-radius: 5px
}

.main-btn:hover {
  background-color: #ff7f50;
  color: #000 ;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: #ff7f50;
}

.list-inline > li {
  list-style: none;
  display: inline-block;
  margin-right: 20px;
}

.footer ul {
  padding: 0;
}

.rrss-icon-big {
  font-size: 40px;
}

/* Divs style*/
.container {
  margin: 0 auto -340px;
  background-color: #2B4A46;
}

.text-center {
  text-align: center;
}

.container-media {
  width: 50%;
  padding-bottom: 20px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
}

#main-title {
  padding: 70px 0px 350px;
  width: 50%;
  margin: 0 auto;
}

.subtitle {
  margin-top: 50px;
  margin-right: 20px;
  color: #fff;
  opacity: 0.8;
  /*font-family: 'Merriweather', serif;*/
  font-weight: 100;
  width: 30%;
}

.description {
  width: 440px;
  margin: 0px 590px;
}

.footer {
  padding: 100px;
  background-color: #DBD8D5;
  margin-top: 70px;
}

/* For a screen < 960px, this CSS will be read */
@media (max-width: 960px) {
  .container {
    width: 80%;
  }
}

/* For a screen < 720px, this CSS will be read */
@media (max-width: 720px) {
  .container {
    width: 90%;
  }
  .img-circle {
    width: 150px;
    height: 150px;
  }
}


/* For a screen < 540px, this CSS will be read */
@media (max-width: 540px) {
  .container {
    width: 95%;
  }

  .img-circle {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  }
}




















